/* Night in css file */
* {
    box-sizing: border-box;
   }

*:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
    background: black;
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: whitesmoke;
}

.subtitle {
    margin: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.image {
    border-style: solid;
    border-color: black;
    border-width: 1rem;
}

.img {
    size: 200px;
}

.list {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: x-large;
    color: turquoise;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.card {
    display: inline-block;
    text-align: center;
    margin-right: 2rem;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

.limit {
    width: 20rem;

}
#infoDiv {
    justify-content: center;
    font-weight: 800;
    list-style-type: none;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

.ings {
    padding-top: 25em;
    padding-bottom: 22em;
}
#drink-search {
    justify-content: center;
}

#drink-search {
    justify-content: center;
}

#ingredientSearch, 
#keywordSearch,
#ingredientSearchBtn {
    margin-right: 2rem;
    margin-left: 2rem;
    }

#movie-search {
    justify-content: center;
}

#btnGroup {
    justify-content: center;
}

i.fas {
    color: white;
}

.footer {
    background-color: black;
}


