/* Night in css file */
* {
    box-sizing: border-box;
   }

*:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
    background: black;
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: whitesmoke;
}

.subtitle {
    margin: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.image {
    border-style: solid;
    border-color: black;
    border-width: 1rem;
}

.list {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: x-large;
    color: whitesmoke;
    font-weight: 800;
    list-style-type: none;
    margin-right: 2rem;
}

.box {
    background-color: whitesmoke;
    opacity: 90%;
    margin-right: 2rem;
    overflow: hidden;
}

#drink-search {
    justify-content: center;
}

#recipe-search {
    justify-content: center;
}

#movie-search {
    justify-content: center;
}

#btnGroup {
    justify-content: center;
}

i.fas {
    color: white;
}

.footer {
    background-color: black;
}

