/* Night in css file */
* {
    box-sizing: border-box;
   }

*:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
    background: black;
}

img {
   max-width: 100%;
}

@media screen and (min-width: 600px) {
    img {
        max-width: 500px;
    }
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: whitesmoke;
}

.subtitle {
    margin: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

#header-image {
    border-style: solid;
    border-color: black;
    border-width: 2rem;
    max-width: 100%;
}

.list {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: x-large;
    color: turquoise;
    -webkit-text-stroke: 1px turquoise;
    list-style-type: none;
}

.card {
    display: center;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(95, 93, 93, 0.685);
    box-shadow: 0px 0px 20px 5px whitesmoke;
    list-style-type: none;
}

p {
    color: whitesmoke;
    font-size: large;
}

h5 {
    color: whitesmoke;
}
  
.ings {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-decoration-line: underline;
    padding: 0;
}

#drink-search {
    justify-content: center;
}

.field {
    margin-right: 3rem;
    margin-left: 3rem;
}


#movie-search {
    justify-content: center;
}

.footer {
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

#btnGroup {
    justify-content: center;
}

#movieBtn,
#recipeBtn,
#cocktailBtn {
    margin: 1rem;
}

#homeBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: turquoise; 
    color: rgb(78, 76, 76); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 16px; 
}

.text {
    font-weight: 600;
    line-height: 1.5rem;
}