/* Night in css file */
* {
    box-sizing: border-box;
   }

*:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
    background: black;
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: whitesmoke;
}

.subtitle {
    margin: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.image {
    border-style: solid;
    border-color: black;
    border-width: 1rem;
}

.img {
    max-width: 100px;
    max-height: 100px;
}

.list {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: x-large;
    color: turquoise;
    -webkit-text-stroke: 1px turquoise;
    list-style-type: none;
}

.card {
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(95, 93, 93, 0.685);
    box-shadow: 0px 0px 10px 10px whitesmoke;
}


p {
    color: whitesmoke;
    font-size: large;
}

h5 {
    color: whitesmoke;
}

.ings {
    padding-top: 25em;
    padding-bottom: 22em;
}

#drink-search {
    justify-content: center;
}

.field {
    margin-right: 3rem;
    margin-left: 3rem;
}


#movie-search {
    justify-content: center;
}

.footer {
    background-color: black;
}

#btnGroup {
    justify-content: center;
}

#movieBtn,
#recipeBtn,
#cocktailBtn {
    margin: 1rem;
}

